.carousel-container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: relative;
  width: 1500px;
  max-width: 1400px;
 
}

.carousel-slide {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.carousel-slide.active {
  opacity: 1;
}

.carousel-image {
  width: 900px;
  height: 420px;
}
